---
layout: default
---
	{% include nav.html %}

	{% include subpage-header.html %}

	<section class="services section-padding" id="services">
		<div class="services-header">
			<div class="animation" data-animation="zoomIn">
			<h1 ><a class="black" href="stream.html">Streaming Boruto</a></h1>

                <br>
                <p>Nous transmettons des épisodes sous-abrégés de Boruto: Naruto Next Generations en ligne - juridique et <b class="blue">Gratuit!!...,</b> <br>en raison de nos partenariats avec l'industrie.</p>
<div>
								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- boruto today - horizontal -->
								<ins class="adsbygoogle"
								     style="display:inline-block;width:728px;height:90px"
								     data-ad-client="ca-pub-9499158719830904"
								     data-ad-slot="8343459619"></ins>
								<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
			</div>

		</div>
		<div class="services-content">
			<div class="container">
				<div class="row streaming">

				</div>

				<br/>


			</div>
		</div>
	</section>

	<section class="portfolio section-padding" data-stellar-background-ratio="0.5" id="portfolio">
		<div class="animation" data-animation="fadeIn">
			<div class="portfolio-header">
				<h1 ><a class="black" target="_blank" href="https://nyaa.si/?f=2&c=1_3&q=boruto">Les Telechargement</a></h1>
				<p>Vous pouvez telechargez <b class="blue">gratuitement
                    </b> ces episode. <br/> Il vous suffit d'avoir <a  target="_blank"href="http://ccm.net/download/download-74-utorrent">Utorrent</a> oubien
                    <a  target="_blank" href="http://www.vuze.com/">Vuse</a> installer sur votre machine...

                </p>
                 <blockquote class="black">Comme je l'avais dit au parenvant, nous sommes au travail pour vous offrir le meilleur de la nouvelle Anime Boruto... Vous aurez bientot les direct Download ansi que streaming... Merci pour votre Confiance <i class="white">(Light)</i></blockquote>
			</div>
<di>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- boruto today - horizontal -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-9499158719830904"
	     data-ad-slot="8343459619"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

</div>

		</div>



		<div class="container">
			<div class="row">
				<div class="animation" data-animation="fadeInUp">
					<ul class="portfolio-carousel">
						<li>
							<div class="inner-content">
								<img src="img/portfolio/project1.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 1</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li><li>
							<div class="inner-content">
								<img src="img/portfolio/project2.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 2</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li><li>
							<div class="inner-content">
								<img src="img/portfolio/project3.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 3</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li><li>
							<div class="inner-content">
								<img src="img/portfolio/project4.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 4</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li><li>
							<div class="inner-content">
								<img src="img/portfolio/project2.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 2</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li><li>
							<div class="inner-content">
								<img src="img/portfolio/project1.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 3</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li><li>
							<div class="inner-content">
								<img src="img/portfolio/project4.png">
								<div class="overlay-content">
									<h3>Boruto: Naruto Next Generatio:E 4</h3>
									<p><a href="#">Click</a> pour plus de details</p>
								</div>
							</div>
						</li>
					</ul>

					<ul class="portfolio-nav">
						<li id="prev">&lt;</li>
						<li id="next">&gt;</li>
					</ul>
				</div>
			</div>
		</div>



        <div class="services-content">
			<div class="container">
				<div class="row center">
					<div class="col-md-4 ">
						<div class="animation" data-animation="fadeInLeft">

						<h3><a class="h3 center" href=""><b>Episode Precedente</b></a></h3>
							<p>Nom: Le garçon avec le Sharingan</p>
                            <p>heure local: <b>Mercredi 16 Aout, 2017</b></p>
                            <p>Saison: 1</p>
                            <p>Episode: 20</p>

						</div>
					</div>
					<div class="col-md-4">
						<div class="animation center" data-animation="fadeInLeft">

							<h3><a class="h3 center" href=""><b>La recente Episode</b></a></h3>
							<p>Nom: Sarada et Sasuke</p>
                            <p>heure local: <b>Mercredi 23 Aout, 2017</b></p>
                            <p>Saison: 1</p>
                            <p>Episode: 21</p>

						</div>
					</div>
					<div class="col-md-4">
						<div class="animation center" data-animation="fadeInLeft">

							<h3><a class="h3 center" href=""><b>Episode a venir</b></a></h3>
							<p>Nom: Pensées communicantes</p>
                            <p>heure local: <b>Mercredi 30 Aout, 2017</b></p>
                            <p>Saison: 1</p>
                            <p>Episode: 22</p>
						</div>
					</div>
				</div>

				<br/>

			</div>
		</div>


	</section>



	<section class="testimonials section-padding center" data-stellar-background-ratio="0.5" id="testimonials">
		<div class="testimonials-header animation" data-animation="zoomInUp">
			<h1><a class="black" href="#">Scantrade</a></h1>
			<p>Bientot disponible</p>
		</div>
		<!-- <ul class="testimonial-carousel">
			<li data-animation="fadeInUp" class="animation">
				<img src="img/team/member3.png"/>
				<p class="name"> Norber Zongo</p>
				<p class="position">Journalist</p>
				<blockquote class="black">
					<i>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</i>
				</blockquote>
			</li>
			<li>
				<img src="img/team/member2.png"/>
				<p class="name">Socrate</p>
				<p class="position">Philosoph Grec</p>
				<blockquote class="black">
					<i>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</i>
				</blockquote>
			</li>
			<li>
				<img src="img/team/member4.png"/>
				<p class="name">Alex</p>
				<p class="position">Web Designer</p>
				<blockquote class="black">
					<i>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</i>
				</blockquote>
			</li>
		</ul> -->

		<ul class="testipager">
			<li><a href="#"><i class="fa fa-circle"></i></a>
			</li><li><a href="#"><i class="fa fa-circle"></i></a>
			</li><li><a href="#"><i class="fa fa-circle"></i></a>
			</li>
		</ul>
	</section>

	<section class="section-padding blog" id="blog" data-stellar-background-ratio="0.5">
		<div class=" animation" data-stellar-background-ratio="0.5" data-animation="zoomInDown">
            <div class="blog-header animation center" data-animation="fadeIn">
			<h1><a href="blog-posts.html" class="primary">Forum</a></h1>

			<p class="white">Revivez les moments fort de la series avec le forum...<br/>Vous pouvez discutez sur les moments passez et a venir...</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="animation" data-animation="fadeInLeft">
						<img src="img/blog/post1.png" alt="post1" class="img-responsive" />
						<h3><a href="{{ site.baseurl | prepend: site.github.url}}{% post_url 2017-08-26-la-nouvelle-team %}" class="cool">La Nouvelle team 7</a></h3>
						<p class="post-description white"><i>by</i> <b><span class="primary">Karamogo</span></b> <i>on</i> <b class="date">26 Aou 2017</b></p>
						<p class="post-content white">Mitsuki a été créé comme humain synthétique par Orochimaru, cultivé à partir du même embryon qu'au moins un plus ancien "Mitsuki".</p>
                        <p class="about"><a href="{{ site.baseurl | prepend: site.github.url}}{% post_url 2017-08-26-la-nouvelle-team %}" class="read cool"> Lire plus<span class="hover">&gt;&gt;</span></a></p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="animation" data-animation="fadeInLeft">
						<img src="img/blog/post2.png" alt="post2" class="img-responsive" />
						<h3><a href="{{ site.baseurl | prepend: site.github.url }}{% post_url 2017-08-26-le-dojutsu %}" class="cool"> Le dojutsu de Boruto Uzumaki</a></h3>
						<p class="post-description white"><i>by</i> <b><span class="primary">Soul</span></b> <i>on</i> <b class="date">26 Aou 2017</b></p>
						<p class="post-content white">Ce dōjutsu a été réveillé par Boruto Uzumaki dans son œil droit. Dans le manga, ce dōjutsu est sans apparence en apparence avec </p>

                        <p class="about"><a href="{{ site.baseurl | prepend: site.github.url }}{% post_url 2017-08-26-le-dojutsu %}" class="read cool"> Lire plus<span class="hover">&gt;&gt;</span></a></p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="animation" data-animation="fadeInLeft">
						<img src="img/blog/post3.png" alt="post2" class="img-responsive" />
						<h3><a href="{{ site.baseurl | prepend: site.github.url}}{% post_url 2017-08-26-Kawaki  %}" class="cool">Qui est ce misterieux Kawaki</a></h3>
						<p class="post-description white"><i>by</i> <b><span class="primary">Uzumaki</span></b> <i>on</i> <b class="date">26 Aou 2017</b></p>
						<p class="post-content white">Bien qu'il soit inconnu de la personnalité et des points de vue de Kawaki, il se révèle être un homme sombre avec  </p>
                        <p class="about"><a href="{{ site.baseurl | prepend: site.github.url}}{% post_url 2017-08-26-Kawaki  %}" class="read cool">Lire plus <span class="hover">&gt;&gt;</span></a></p>
					</div>
				</div>
			</div>
		</div>
        </div>
	</section>

	<section class="section-padding contact" data-stellar-background-ratio="0.5" id="contact">
		<div class="contact-header center animation" data-animation="lightSpeedIn">
			<h1 class="white"></h1>
			<p></p>
		</div>
<div><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- boruto today - horizontal -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9499158719830904"
     data-ad-slot="8343459619"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
		 <div class="container">
             <div class="animation" data-animation="zoomInLeft">
             <div class="row">
                 <div class="col-md-6 b2 section-padding">
                     <br>
                     <h1 class="center white"> Calendrier</h1>
                        <div class="center section-padding">

                            <h4><a class="white" target="_blank" href="https://nyaa.si/?f=2&c=1_3&q=boruto">Episode 21: Sasuke et Sarada</a></h4>
                    <h4><a class="white" target="_blank" href="https://nyaa.si/?f=2&c=1_3&q=boruto">Episode 20: Le garçon avec le Sharingan</a></h4>
                      <h4><a class="white" target="_blank" href="https://nyaa.si/?f=2&c=1_3&q=boruto">Episode 19: Uchiha Sarada</a></h4>
                      <h4><a class="white" target="_blank" href="https://nyaa.si/?f=2&c=1_3&q=boruto">Episode 18: Une journée dans la vie de la famille Uzumaki</a></h4>

                     </div>
                 </div>
                   <div class="col-md-6 b1 section-padding">
                     <br>
                     <h1 class="center white"> Scantrade</h1>
                        <div class="center section-padding">

                        <h4 class="blue">Bientot Disponible</h4>

                     </div>
                 </div>

             </div>
             </div>
         </div>
	</section>
