                <h3>Stop By For A visit</h3>
                  <ul class="address-block">
                    <li>
                      <i class="fa fa-map-marker"></i> 300 Kenyon Street NW apt T6
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Email: sdembele@my.spscc.edu
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Phone:+1 347 615 2471
                    </li>
                  </ul>