<header>
		<div class="container">
			<div class="row">
				<a class="logo animation" href="#" data-animation="fadeInLeft"><img src="img/logo.png" alt="logo"/></a>
				<nav class="animation" data-animation="fadeInRight">
					<ul class="menu" id="menu">
						<li class="current"><a href="#slider">Acceuil</a>
						</li><li><a href="#services">Streaming</a>
						</li><li><a href="#portfolio">Telechargement</a>
						</li><li><a href="#testimonials">Scantrade</a>
                        </li><li><a href="#blog">Forum</a>
						</li><li><a href="#contact">Calendrier</a>
						</li>
					</ul>	
				</nav>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>