<section class="slider" id="slider">
		<ul class="slider-carousel" id="slider-carousel">
			<li class="img1">
				<h1>Bienvenue sur <span class="primary">Today Boruto</span></h1>
				<p>Toute l'actualite sur La vie du shinobi Boruto Uzumaki, fils du septième Hokage Naruto Uzumaki,<br> qui
                    s'est inscrit à l'Académie Ninja pour apprendre <br>les voies du ninja. Maintenant, comme une série 
                    <br>d'événements mystérieux se déroule, l'histoire de Boruto est sur le point de commencer!</p>
				<a href="#" class="primary-bg cta1">Get Started</a><a href="#" class="secondary-sky-blue-bg cta2">Contact</a>
			</li><li class="img2">
				<h1><span class="primary">Boruto Uzumaki</span></h1>
				<p>Est un shinobi du clan Uzumaki de Konohagakure et un descendant direct du clan Hyūga<br>
                    à travers sa mère. Initialement nonchalant dans ses fonctions en tant que membre de <br>
                    l'équipe Konohamaru et ressent le ressentiment de son père et du bureau de Hokage parce <br>
                    qu'il ne lui a pas laissé de temps pour sa famille</p>
				<a href="#" class="primary-bg cta1">About Light</a><a href="#" class="secondary-sky-blue-bg cta2">Join Wide Light</a>
			</li><li class="img3">
				<h1>L'age du <span class="primary"> Dōjutsu</span></h1>
				<p>À l'âge de huit ans, Boruto a réveillé subconsciemment un dōjutsu dans son œil droit,<br>
                    qui est sans apparence en apparence (avec une sclère sombre dans l'anime).<br>
                    Alors qu'il ne pouvait l'activer instinctivement qu'en temps de menaces, plusieurs années plus tard,<br> 
                    il a pu l'activer à volonté, ainsi que des marques noires sur son bras droit et son visage. </p>
				<a href="#" class="primary-bg cta1">Voir le Forum</a><a href="#" class="secondary-sky-blue-bg cta2">Joindre Nous</a>
			</li>	
		</ul>
		<ul class="sliderpager">
			<li><a href="#"><i class="fa fa-circle"></i></a>
			</li><li><a href="#"><i class="fa fa-circle"></i></a>
			</li><li><a href="#"><i class="fa fa-circle"></i></a>
			</li>
		</ul>
	</section>